*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.trash-icon{
    cursor: pointer;
    color: red;
    padding-top: 190px;
    margin-left: 82%;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 240px;
 
}


